
.banner {
    width: 55%;
    /*margin-bottom: 20px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content_center {
    width: 40%; 
    margin: auto; 
    padding-bottom: 2%
}

#logout_text {
    color: white;
    font-size: 16px;
}

#form_button {
    height:40%;
    margin-top: -10%;
    margin-bottom: -10%;
}

#base_input {
    margin-top: -10%;
    margin-bottom: -10%;
    margin-right: 5px;
}

#hello_message {
    display:inline;
    font-size: 16px;
    color: yellow;
}

.alert {
    text-align: center; 
    width:105%; 
    margin:auto; 
    margin-bottom: 15px; 
    line-height: 10px;
}

.abc {
    background-color: red;
}

thead > tr > th { 
    text-align:center;
}


table.dataTable thead th {
    color:green;
    /*border-top: lightgray 1px solid;*/
}

div.pure-u-1 select {
    /*background-color: red;*/
    height: 34px;
}


#example > tbody > tr > td {
    text-align:center
}

.pure-form {
    border: lightgray 1px solid; 
    padding: 0px 0px 0px 20px; 
    width:1000px; 
    margin-top: 5px
}

.button-success {
    width:180px;
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.half_container {
    height:220px; 
    width:1000px; 
    /*border: lightgray 3px solid;*/
    float:left;
    overflow:hidden;
}

.text-box {
    height:220px; 
    width:200px; 
    padding-top: 10px;
    /*border: red 2px solid; */
    float:left;
}

.text-box > ul > li {
    text-shadow: 0.04em 0.04em 0.02em black;
    color:gray;
    /*font-weight: bold;*/
    font-size: 15px;
}

.text-box > ul > p {
    font-weight: bold;
    /*margin-left: 20px;*/
    color:hotpink;
}

.half_container > img {
    margin-right:10px;
    /*border: red 2px solid;*/
}


td > a > img.tableImg {
    height: 34px; 
    width: 40px;   
}

td.tableImg {
    height: 34px;
}

td {
    text-align: center;
}

.redText {
    color: red;
}

::-webkit-input-placeholder {
   text-align: center;
}


