
.banner {
    width: 55%;
    /*margin-bottom: 20px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content_center {
    width: 40%; 
    margin: auto; 
    padding-bottom: 2%
}

#logout_text {
    color: white;
    font-size: 16px;
}

#form_button {
    height:40%;
    margin-top: -10%;
    margin-bottom: -10%;
}

#base_input {
    margin-top: -10%;
    margin-bottom: -10%;
    margin-right: 5px;
}

#hello_message {
    display:inline;
    font-size: 16px;
    color: yellow;
}

.alert {
    text-align: center; 
    width:105%; 
    margin:auto; 
    margin-bottom: 15px; 
    line-height: 10px;
}

.abc {
    background-color: red;
}

hr.separator {
    width:1000px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 14px;
    margin-bottom: 14px;
}

b.title {
    color:#1E90FF;
}

div.dataTables_wrapper {
        padding-bottom: 5px;
        font-size: 14px;
        width: 1000px;
        margin: 0 auto;
        /*border-collapse: separate;*/
        /*table-layout: fixed; */
        /*border: lightgray 1px solid;*/
        /*border-top: lightgray 1px solid;*/
        /*border-bottom: lightgray 1px solid;*/
        /*padding: 5px 10px 5px 10px; */
}

.middle_title {
    text-align: center;
    color:#34495e;
    margin-top: 0px;
}

.add_purchase_form {
    text-align: left; 
    /*max-height: 250px;*/
    width:30%;
    /*height:100%;*/
    /*border: lightgray 1px solid; */
}

.add_purchase_form > img {

    height: 200px;
    max-width: 300px;
    float:left;

}

thead > tr > th { 
    text-align:center;
}


table.dataTable thead th {
    color:green;
    /*border-top: lightgray 1px solid;*/
}

div.pure-u-1 select {
    /*background-color: red;*/
    height: 34px;
}


#example > tbody > tr > td {
    text-align:center
}

.pure-form {
    border: lightgray 1px solid; 
    padding: 0px 0px 0px 20px; 
    width:1000px; 
    margin-top: 5px
}
/*
td > a > button {
    width:70%;
    padding: 0px;
    margin:0px;
    text-align: center;
    line-height:40px;
}
*/
.button-success {
    width:180px;
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.half_container {
    height:220px; 
    width:1000px; 
    border: lightgray 3px solid;
    float:left;
    overflow:hidden;
}

.top_container {
    height:100%; 
    width:600px; 
    /*border: lightgray 1px solid;*/
    /*background-color: #DCDCDC;*/
    margin:auto;
    overflow:hidden;
}

.buttom_container {
    height:350px; 
    width:600px; 
    /*border: lightgray 1px solid;*/
    margin:auto;
    overflow:hidden;
}

.image_box > img {
    height:70px;
    padding:10px;
    /*width:100px;*/
}

.image_box {
    width:15%;
    height:100px;
    /*border:lightgray 1px solid;*/
    text-align: center;
    float:left;
}

.company_box {
    padding-top: 2%;
    width:27%;
    height:100px;
    font-size: 15px;
    text-align: center;
    float:left;
}

.company_box > p {
    margin-bottom: 0px;
}


.green_text {
    color:green;
}

.price_box > p {
    margin-bottom: 0px;
}

.price_box {
    padding-top: 2%;
    width:15%;
    height:100px;
    font-size: 15px;
    text-align: center;
    float:left;
}

.left_box {
    height:50%; 
    width:50%; 
    /*border: lightgray 1px solid;*/
    /*background-color: #DCDCDC;*/
    float:left;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 15px;
}

.right_box {
    height:50%; 
    width:50%; 
    /*border: lightgray 1px solid;*/
    /*background-color: #DCDCDC;*/
    margin-bottom: 10px;
    float:left;
    text-align: left;

}

.right_box > h4 {
    /*font-weight: normal;*/
    color: #C71585;
}

.item_container {
    width:600px; 
    height:70px;   
    /*border:lightgray 1px solid;*/
    margin:auto;
    border-bottom: lightgray 1px solid;
    overflow:hidden;
    /*background-color: #E0FFFF;*/
    border-top: 0px;
}

.text-box2 {
    height:220px; 
    width:700px; 
    padding-top: 10px;
    border: red 2px solid; 
    margin: 0 auto;   
}

.text-box3 {
    height:220px; 
    width:200px; 
    padding-top: 10px;
    border: red 2px solid; 
    width: 50%;
    margin: 0 auto;   
    float:left;
}


.text-box {
    height:220px; 
    width:200px; 
    padding-top: 10px;
    /*border: red 2px solid; */
    float:left;
}

.text-box > ul > li {
    text-shadow: 0.04em 0.04em 0.02em black;
    color:gray;
    /*font-weight: bold;*/
    font-size: 15px;
}

.text-box > ul > p {
    font-weight: bold;
    /*margin-left: 20px;*/
    color:hotpink;
}

.half_container > img {
    margin-right:10px;
    /*border: red 2px solid;*/
}

td > img.tableImg {
    height: 24px; 
    width: 30px;   
}

td > a > img.tableImg {
    height: 34px; 
    width: 40px;   
}

td.tableImg {
    height: 34px;
}

td {
    text-align: center;
}

.add_product_box {
    height:220px; 
    width:60%; 
    /*border: red 2px solid; */
    float:left;
}

.add_product_box2 {
    height:220px; 
    width:40%; 
    padding-left: 10px;
    /*border: red 2px solid; */
    float:left;
}

.add_product_box > img {
    margin-top: 5px;
    vertical-align: middle;
    height: 200px;
    width:100%;
    /*border: blue 2px solid;*/
}


.add_product_box2 > p {
    margin:0px;
    color:#C71585;
}

.add_product_box2 > p > b {
    color:#696969;
}

.redText {
    color: red;
}

::-webkit-input-placeholder {
   text-align: center;
}


