{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<div class="header">
    <h1>Sales Management</h1>
    <!-- <h2>A subtitle for your page goes here</h2> -->   
</div>  
<div class="content">
    <table id="example" class="display nowrap compact" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Customer</th>                                   
                <th>Product Name</th>
                <th>Amount</th>
                <th>Unit Price</th>
                <th>Note</th>
                <th>Date</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for sales in sales_list %}
            <tr>
                <td style="text-align:center;"> {{ sales.id }} </td>
                <td style="text-align:center;"> {{ sales.customer }} </td>
                <td style="text-align:center;"> {{ sales.product }} </td>
                <td style="text-align:center;"> {{ sales.product_amount }} </td>
                <td style="text-align:center;"> {{ sales.sell_price }} </td>
                <td style="text-align:center;"> {{ sales.note }} </td>
                <td style="text-align:center;"> {{ sles.date_of_purchase }} </td>
                <td style="text-align:center;"> {{ sales.total }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
</div>
{% endblock %}

