{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Log in" %}{% endblock %}

{% block page %}

<div class="header">
    <h1>Log in</h1>
    <!-- <h2>A subtitle for your page goes here</h2> -->   
</div>  

<div class="content" style="padding-left: 60px">
    <div class="content_center">   
        <form method="post" action="">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="button-secondary pure-button" style="width:100%" type="submit" value="{% trans 'Log in' %}" />
        </form>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    <!-- <div class="content_center">
        <p style="font-size: 15px">{% trans "Forgot your password?" %} &nbsp;<a href="{% url 'auth_password_reset' %}" style="color:red">{% trans "Reset it" %}</a>.</p>
        <p style="font-size: 15px">{% trans "Not a member?" %} &nbsp;<a href="{% url 'registration_register' %}" style="color:blue">{% trans "Register Now" %}</a>.</p>
    </div> -->
</div>





{% endblock %}

