<!DOCTYPE html>
{%load staticfiles%}

<html lang="en">
<head>
	{% include "include.html" %}
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">MiniERP</a>
        
        {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
        <form class="navbar-form navbar-right"  method="POST" action="{% url 'auth_login' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="base_input" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="base_input" name="password" placeholder="Password">
            </div>
            <button class="btn btn-default" id="form_button">Login</button>
        </form>
        {% endif %}
        
        {% if request.user.is_authenticated %}
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="{% url 'auth_logout' %}?next={{'/'}}" class="pure-menu-link" id="logout_text">Logout</a>
            </li>
        </ul>

        <ul class="pure-menu-list">
            
            <li class="pure-menu-item" id="hello_message">
                Hello,&nbsp 
            </li>
            
            <li class="pure-menu-item"> 
                <a href="#" class="pure-menu-link" id="logout_text">
                {{ user.get_full_name|default:user.username }}</a>
            </li>
        </ul>
        
        {% endif %}
    </div>

</div>

<div class="splash-container">  
    {% include "leftMenu.html" %}
	{% block page %}
	{% endblock %}
</div>

</body>
</html>



