{%load staticfiles%}
<meta charset="UTF-8">
	<title>{% block title %}ERP system-{{ title }}{% endblock %}</title>

	
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
	

	<!-- JQUERY -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	
	<script type="text/javascript" src="{% static 'js/jquery.simplePagination.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'js/pagination.js' %}"></script>

	

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link type="text/css" rel="stylesheet" href="{% static 'css/simplePagination.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/mws-style.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/fonts/ptsans/stylesheet.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/fonts/icomoon/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mws-style.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/icons/icol16.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/icons/icol32.css' %}">

	<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.0.3/css/dataTables.checkboxes.css" rel="stylesheet" />
	<script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.0.3/js/dataTables.checkboxes.min.js"></script>
	

	<!-- Demo Stylesheet -->

	<link rel="stylesheet" type="text/css" href="{% static 'ccss/demo.css' %}">


	
	<link rel="stylesheet" href="{% static 'css/app.css' %}">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="{% static 'js/common.js' %}"></script> 

	<script src="{% static 'js/checkbox_row.js' %}"></script>

	<script src="{% static 'js/clamp.min.js' %}"></script> 



