{%load staticfiles%}
<meta charset="UTF-8">
	<title>{% block title %}MiniERP system-{{ title }}{% endblock %}</title>

	
	<link rel="shortcut icon" href="{% static 'img/erp_logo.png' %}">

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	
	<!-- customize javascript  -->
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

	<script src="{% static 'js/stock_color.js' %}"></script> 

	<script src="{% static 'js/result_message.js' %}"></script> 

	<script src="{% static 'js/create_purchase.js' %}"></script> 

	<script src="{% static 'js/inventory_display.js' %}"></script> 
	
	<script src="{% static 'js/custom_datatable.js' %}"></script>


	<!-- JQuery Datatables -->
	<script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>

	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	
	<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css">


	<!-- Pure responsive front-end tool -->
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

	
	<!-- customize css -->
	<link rel="stylesheet" href="{% static 'css/layout/marketing.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/layout/side-menu.css' %}">
    
	<link rel="stylesheet" href="{% static 'css/app.css' %}">

	