<div id="menu">
    <div class="pure-menu">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="{% url 'supply_management' %}" class="pure-menu-link">Supplier Management</a></li>

            <li class="pure-menu-item"><a href="{% url 'create_purchase' %}" class="pure-menu-link">Create Purchase</a></li>

            <li class="pure-menu-item"><a href="{% url 'purchase_management' %}" class="pure-menu-link">Purchase Management</a></li>

            <li class="pure-menu-item"><a href="{% url 'customer_management' %}" class="pure-menu-link">Customer Management</a></li>

            <li class="pure-menu-item"><a href="{% url 'order_management' %}" class="pure-menu-link">Order Management</a></li>
            <li class="pure-menu-item"><a href="{% url 'product_management' %}" class="pure-menu-link">Product List</a></li>
            <li class="pure-menu-item"><a href="{% url 'inventory_management' %}" class="pure-menu-link">inventory Management</a></li>
            <li class="pure-menu-item"><a href="{% url 'profit_and_revenue' %}" class="pure-menu-link">Profit Management</a></li>
            <!-- <li class="pure-menu-item"><a href="{% url 'profit_and_revenue' %}" class="pure-menu-link">Profit & Revenue</a></li> -->

            <!-- <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                <a href="#" class="pure-menu-link">Services</a>
            </li> -->

            
        </ul>
    </div>
</div>
