{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<div class="header">
    <h1>Product detail ( <b>{{product.name}}</b> ) -- <b style="color:green">{{product.stock}} in stock</b> --</h1>
    <!-- <h2>A subtitle for your page goes here</h2> -->   
</div>  
<div class="content">
	{% if error %}
    <div class="alert alert-danger" role="alert" id="message">
        <strong >Warning!</strong> {{ error }}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert" id="message">
        <strong>COOL!</strong> {{ success }}
    </div>
    {% endif %}
    

	<form class="pure-form pure-form-stacked" method="POST" enctype='multipart/form-data' style="width:450px;margin:auto; padding:0px">
        {% csrf_token %}
        <fieldset style="height:220px; margin:auto; padding-left: 10px">
            <div class="add_product_box">    
                {% if product.photo %}               
                    <img src="/media/{{ product.photo }}">
                {% else %}
                    <img src="/static/img/no-image.png" style="height:250px;">
                {% endif%} 
            </div>    
            <div class="add_product_box2" style="text-align: left">
                <p style="margin-top: 10px"><b>Supplier:</b></p>
                <p style="margin-left: 20px"><b style="color:#C71585">{{ product.supplier }}</b></p>
                <p><b>Unit Price:</b></p>
                <p style="margin-left: 20px"><b style="color:#C71585">{{ product.price }}</b></p>
                <p style="width:150px"><b>Amount:</b>{{ form.amount }}</p>
                <p>
                    <button type="submit" class="button-success pure-button" style="width:150px; text-align: center;">Add to list</button>
                </p>
            </div>
             
            

        </fieldset>
    </form>
</div>





{% endblock %}