{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<div class="header">
    <h1>Create Purchase</h1>
    <!-- <h2>A subtitle for your page goes here</h2> -->   
</div>  
<div class="content">
    {% if error %}
    <div class="alert alert-danger" role="alert" id="message">
        <strong >Warning!</strong> {{ error }}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert" id="message">
        <strong>COOL!</strong> {{ success }}
    </div>
    {% endif %}
    <table id="example" class="display nowrap compact" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Insert</th>
                <th>ID</th>      
                <th>Photo</th>    
                <th>Product Name</th>  
                <th>Supplier</th>
                <th>Model</th>
                <th>Dimention(L"/W"/H")</th>
                <th>Weight(lb)</th>
                <th>Unit Price</th>
                <th>Stock</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td ><a href="{% url 'add_purchase' product.id %}"><b>Edit >></b></a></td>

                <td> {{ product.id }} </td>

                {% if product.photo %}                       
                    <td><a href="{% url 'product_detail' product.id %}"><img src="/media/{{ product.photo }}" onerror="this.src='/static/img/no-image.png'" class="tableImg"></a></td>
                {% else %}
                    <td><a href="{% url 'product_detail' product.id %}"><img class="tableImg" src="/static/img/no-image.png"></a></td>
                {% endif %}
                
                <td> {{ product.name }} </td>
                <td> {{ product.supplier }} </td>
                {% if product.model %} 
                    <td> {{ product.model }} </td>
                {% else %}
                    <td>N/A</td>
                {% endif %}

                {% if product.dimention %} 
                    <td> {{ product.dimention }} </td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
                
                <td> {{ product.weight }} </td>
                <td> {{ product.price }} </td>
                <td> {{ product.stock }} </td>
                {% if product.note %} 
                    <td> {{ product.note }} </td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>    


    <table id="example3" class="display nowrap compact" cellspacing="0" width="100%">
        <thead>
            <tr>
                
                <th>Product Name</th>  
                <th>Photo</th>    
                <th>Supplier</th>
                <th>Model</th>
                <th>Unit Price</th>
                <th>order QTY</th>
                <th>Total Price</th>
                <th>Remain QTY</th>
                
            </tr>
        </thead>
        <tbody>
            {% for pending in pendings %}
            <tr>
                
                
                <td style="text-align:center;"> {{ pending.product.name }} </td>
                {% if pending.product.photo %}                       
                    <td style="text-align:center;"><img class="tableImg" src="/media/{{ pending.product.photo }}" onerror="this.src='/static/img/no-image.png'"></td>
                {% else %}
                    <td style="text-align:center;"><img class="tableImg" src="/static/img/no-image.png"></td>
                {% endif %}
                
                
                <td style="text-align:center;"> {{ pending.product.supplier }} </td>
                {% if pending.product.model %} 
                    <td style="text-align:center;"> {{ pending.product.model }} </td>
                {% else %}
                    <td style="text-align:center;">N/A</td>
                {% endif %}

                <td style="text-align:center;"> {{ pending.product.price }} </td>
                <td style="text-align:center;"> {{ pending.product_amount }} </td>
                
                <td style="text-align:center;"> {{ pending.total }} </td>
                
                <td style="text-align:center;"> {{ pending.remain }} </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>  
    <div style="height:20px"></div>
    <button type="submit" class="button-success pure-button" style="width:300px; text-align: center;">Create Purchase</button>
    <div style="height:20px"></div>
    
</div>

{% endblock %}
