{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<div class="header">
    <h1>Supplier details ( <b class="title">{{supply.company_name}}</b> )</h1>
    <!-- <h2>A subtitle for your page goes here</h2> -->   
</div> 

<div class="content">
	{% if error %}
    <div class="alert alert-danger" role="alert" id="message">
        <strong >Warning!</strong> {{ error }}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert" id="message">
        <strong>COOL!</strong> {{ success }}
    </div>
    {% endif %}
	
	<form class="pure-form pure-form-stacked" method="POST">
        {% csrf_token %}
        <fieldset>
            <div class="pure-g">   

                <div class="pure-u-1 pure-u-md-1-4" style="margin-right: 15px">
                    <label for="{{ form.company_name_for_label }}">Company Name</label>
                    {{ form.company_name }}
                </div>

                <div class="pure-u-1 pure-u-md-1-4" style="margin-right: 15px">
                    <label for="{{ form.address_for_label }}">Address</label>
                    {{ form.address }}
                </div>

                <div class="pure-u-1 pure-u-md-1-6" style="margin-right: 15px">
                    <label for="{{ form.city_for_label }}">City</label>
                    {{ form.city }}
                </div>

                <div class="pure-u-1 pure-u-md-1-8" style="margin-right: 15px">
                    <label for="{{ form.zip_code_for_label }}">Zip Code</label>
                    {{ form.zip_code }}
                </div>

                <div class="pure-u-1 pure-u-md-1-8" style="margin-right: 15px">
                    <label for="{{ form.state_for_label }}">State</label>
                    {{ form.state }}
                </div>

                <div class="pure-u-1 pure-u-md-1-5" style="margin-right: 15px">
                    <label for="{{ form.contact_name_for_label }}">Contact Name</label>
                    {{ form.contact_name }}
                </div>
                <div class="pure-u-1 pure-u-md-1-5" style="margin-right: 15px">
                    <label for="{{ form.phone_for_label }}">Phone number</label>
                    {{ form.phone }}
                </div>
                <div class="pure-u-1 pure-u-md-1-5" style="margin-right: 15px">
                    <label for="{{ form.fax_for_label }}">Fax number</label>
                    {{ form.fax }}
                </div>

                <div class="pure-u-1 pure-u-md-1-4" style="margin-right: 15px">
                    <label for="{{ form.note_for_label }}">Email</label>
                    {{ form.email }}
                </div>
            </div>
            <button type="submit" class="button-success pure-button">Update</button>

        </fieldset>
    </form>
    <hr class="separator">      
    <h3 class="middle_title">All products provided by {{ supply.company_name }} </h3>
    <hr class="separator"> 

    <table id="example3" class="display nowrap compact" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Update</th>
                <th>ID</th>      
                <th>Photo</th>    
                <th>Product Name</th>  
                <th>Supplier</th>
                <th>Model</th>
                <th>dimention(L"/W"/H")</th>
                <th>weight(lb)</th>
                <th>Unit Price</th>
                <th>Stock</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td ><a href="{% url 'product_detail' product.id %}"><b>Edit >></b></a></td>
                <td style="text-align:center;"> {{ product.id }} </td>
                {% if product.photo %}                       
                    <td style="text-align:center;"><a href="{% url 'product_detail' product.id %}"><img src="/media/{{ product.photo }}" onerror="this.src='/static/img/no-image.png'" class="tableImg"></a></td>
                {% else %}
                    <td style="text-align:center;"><a href="{% url 'product_detail' product.id %}"><img class="tableImg" src="/static/img/no-image.png"></a></td>
                {% endif %}
                
                <td style="text-align:center;"> {{ product.name }} </td>
                <td style="text-align:center;"> {{ product.supplier }} </td>
                {% if product.model %} 
                    <td style="text-align:center;"> {{ product.model }} </td>
                {% else %}
                    <td style="text-align:center;">N/A</td>
                {% endif %}

                {% if product.dimention %} 
                    <td style="text-align:center;"> {{ product.dimention }} </td>
                {% else %}
                    <td style="text-align:center;">N/A</td>
                {% endif %}
                
                <td style="text-align:center;"> {{ product.weight }} </td>
                <td style="text-align:center;"> {{ product.price }} </td>
                <td style="text-align:center;"> {{ product.stock }} </td>
                {% if product.note %} 
                    <td style="text-align:center;"> {{ product.note }} </td>
                {% else %}
                    <td style="text-align:center;">N/A</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>  
</div>


{% endblock%}