{% extends 'base.html' %}
{% load staticfiles %}


<!-- {% include "include.html" %} -->
<!-- {% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables/extra/TableTools.css" media="screen"/>
{% endblock %} -->
{% block page %}

   
        <div id="mws-container" class="clearfix">
            <br/>
            <!-- Inner Container Start -->
            <div class="container">
                
                    
                <div class="mws-panel grid_8" style="margin-bottom:0px; background-color: #444444;">
                    <div class="mws-panel-header">
                        <span style="color:yellow; font-family:IcoMoon; font-size: 1.3em; text-align: center"><i class="icon-magic"></i>Supply Management</span>
                    </div>
                </div>

                
                
                <div class="mws-panel grid_8" style="margin-bottom:0px ">
                    <div class="mws-panel-body no-padding">
                        
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="margin-right: 300px">
                        
                        <a class="btn btn-primary" href="#" role="button" style="margin-right: 5px; min-width:90px">Add </a>
                        <a class="btn btn-primary" href="#" role="button" style="margin-right: 5px; min-width:90px">Modify </a>
                        <a class="btn btn-danger" href="#" role="button" style="margin-right: 5px; min-width:90px">Delete </a>

                        <div class="line"></div>


                        <table class="mws-datatable-fn mws-table" name="users" id="users" style="text-align:center; font-size: 1em">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">Company Name</th>                                   
                                    <th style="text-align:center;">Address</th>
                                    <th style="text-align:center;">City</th>
                                    <th style="text-align:center;">State</th>
                                    <th style="text-align:center;">Zip </th>
                                    <th style="text-align:center;">Contact</th>
                                    <th style="text-align:center;">Phone #</th>
                                    <th style="text-align:center;">Fax #</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for supply in supplies %}
                                <tr>
                                    
                                    <td> {{ supply.company_name }} </td>
                                    <td> {{ supply.address }} </td>
                                    <td> {{ supply.city }} </td>
                                    <td> {{ supply.state }} </td>
                                    <td> {{ supply.zip_code }} </td>
                                    <td> {{ supply.contact_name }} </td>
                                    <td> {{ supply.phone }} </td>
                                    <td> {{ supply.fax }} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
               
                
            
                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->
                       
            <!-- Footer -->
            <div id="mws-footer">
                Made by Chi An. All Rights Reserved.
            </div>
            
        </div>
        <!-- Main Container End -->
    <script>
        function myFunction() {
          var input, filter, table, tr, td, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("users");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
    </script>
    
    
{% endblock %}
