{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<div class="header">
    <h1>Product List</h1>
    <!-- <h2>A subtitle for your page goes here</h2> -->   
</div>  
<div class="content">
    {% if error %}
    <div class="alert alert-danger" role="alert" id="message">
        <strong >Warning!</strong> {{ error }}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert" id="message">
        <strong>COOL!</strong> {{ success }}
    </div>
    {% endif %}
    <table id="example" class="display nowrap compact" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Update</th>
                <th>ID</th>      
                <th>Photo</th>    
                <th>Product Name</th>  
                <th>Supplier</th>
                <th>Model</th>
                <th>dimention(L"/W"/H")</th>
                <th>weight(lb)</th>
                <th>Unit Price</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td ><a href="{% url 'product_detail' product.id %}"><b>Edit >></b></a></td>
                <td style="text-align:center;"> {{ product.id }} </td>
                {% if product.photo %}                       
                    <td style="text-align:center;"><a href="{% url 'product_detail' product.id %}"><img src="/media/{{ product.photo }}" onerror="this.src='/static/img/no-image.png'" class="tableImg"></a></td>
                {% else %}
                    <td style="text-align:center;"><a href="{% url 'product_detail' product.id %}"><img class="tableImg" src="/static/img/no-image.png"></a></td>
                {% endif %}
                
                <td style="text-align:center;"> {{ product.name }} </td>
                <td style="text-align:center;"> {{ product.supplier }} </td>
                {% if product.model %} 
                    <td style="text-align:center;"> {{ product.model }} </td>
                {% else %}
                    <td style="text-align:center;">N/A</td>
                {% endif %}

                {% if product.dimention %} 
                    <td style="text-align:center;"> {{ product.dimention }} </td>
                {% else %}
                    <td style="text-align:center;">N/A</td>
                {% endif %}
                
                <td style="text-align:center;"> {{ product.weight }} </td>
                <td style="text-align:center;"> {{ product.price }} </td>
                {% if product.note %} 
                    <td style="text-align:center;"> {{ product.note }} </td>
                {% else %}
                    <td style="text-align:center;">N/A</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>    

    <form class="pure-form pure-form-stacked" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <fieldset>
            <div class="pure-g">   

                <div class="pure-u-1 pure-u-md-1-5" style="margin-right: 25px; margin-left: 50px">
                    <label for="{{ form.photo_label }}">Photo</label>
                    {{ form.photo }}
                </div>  

                <div class="pure-u-1 pure-u-md-1-5" style="margin-right: 25px" >
                    <label for="{{ form.product_for_label }}">Product Name</label>
                    {{ form.name }}
                </div>


                <div class="pure-u-1 pure-u-md-1-5" style="margin-right: 25px">
                    <label for="{{ form.product_amount_for_label }}">Product Model</label>
                    {{ form.model }}
                </div>

                <div class="pure-u-1 pure-u-md-1-5" style="margin-right: 25px">
                    <label for="{{ form.customer_for_label }}">Supplier</label>
                    {{ form.supplier }}
                </div>

                
                <div class="pure-u-1 pure-u-md-1-5" style="margin-right: 25px; margin-left: 50px">
                    <label for="{{ form.product_for_label }}">Dimention(L"/W"/H")</label>
                    {{ form.dimention }}
                </div>

                <div class="pure-u-1 pure-u-md-1-5" style="margin-right: 25px">
                    <label for="{{ form.product_for_label }}">Weight(lb)</label>
                    {{ form.weight }}
                </div>

                <div class="pure-u-1 pure-u-md-1-5" style="margin-right: 25px">
                    <label for="{{ form.sell_price_for_label }}">Unit Price</label>
                    {{ form.price }}
                </div>

                <div class="pure-u-1 pure-u-md-1-5" style="margin-right: 10px">
                    <label for="{{ form.note_for_label }}">Note</label>
                    {{ form.note }} 
                </div>
            </div>
            <button type="submit" class="pure-button" style="margin-left: 50px; width:180px;">Add new product</button>
        </fieldset>
    </form>

</div>
{% endblock %}
